@font-face {
    font-family: Montserrat;
    src: url(./assets/Fonts/Montserrat/ArbFONTS-Montserrat-Arabic-Regular.ttf) format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(./assets/Fonts/Montserrat/ArbFONTS-Montserrat-Arabic-ExtraLight.ttf) format('truetype');
    font-weight: 100;
    font-size: normal;
}

html {
    font-family: 'Montserrat';
    background-image: linear-gradient(to bottom left, #5481FF, #03D4FF);
    background-repeat: no-repeat;
    height: 100%;
    padding: 0;
    margin: 0;
    color: white;
}

body {
    width: 90%;
    height: 100%;
    /*background-color: red;*/
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center ;
    margin: auto;
    justify-content: center;
}

header {
    width: 90%;
    text-align: center;
}

header img {
    width: 78vw;
    /*width: 12.5rem;*/
    margin: 0 0 4vh 0;
}

h3 {
    font-weight: 100;
}

header h3 {
    font-size: 5vw;
}

.buttons {
    width: 100%;
    text-align: center;
}

.form-button {
    background-color: white;
    border: none;
    border-radius: 3rem;
    padding: 3% 6%;
    font-family: 'Montserrat';
    font-size: 5vw;
    margin-bottom: 5%;
    color: #5481FF;
}

.b1,.b2 {
    margin: 3vh 2vw;
}

.socials {
    margin-top: 3vh;
    display: flex;
    gap: 5vw;
}

.socials img {
    filter: invert(99%) sepia(74%) saturate(0%) hue-rotate(262deg) brightness(112%) contrast(100%);
    width: 10vw;
}